body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Roboto', sans-serif; /* or Arial if you prefer */
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2C3E50;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2C3E50;
  }
  
  #About, #Experience, #Connect {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  #About {
    text-align: center;
  }
  
  #Experience ul {
    list-style-type: none;
    padding: 0;
  }
  
  #Experience li {
    background-color: #e7e7e7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #Connect a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
  }
  
  #Connect a:hover {
    color: #2980b9;
    text-decoration: underline;
  }
  
  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  
  #Connect a i {
    margin-right: 8px;
  }
  
  #Connect a:hover i {
    transform: scale(1.2);
  }
  