/* Global Styles */
body {
  background-color: rgb(51, 65, 100);
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2C3E50;
  margin-bottom: 10px;
}

/* Navigation Bar (Sticky) */
nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #3498db;
}

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

#about, #experience, #connect,#skills, #projects, #connect, #leave-message, #messages {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#about {
  text-align: center;
}

#experience ul, #skills ul, #messages ul {
  list-style-type: none;
  padding: 0;
}

#experience li, #skills li, #messages li {
  background-color: #e7e7e7;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#page1 {
  text-align: left;
  margin:0;
  padding:0;
  font-size:large;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #333;
}

/* Picture of Myles Styling */
#profile-picture {
 text-align: center;
 margin-left: 16%;
 border-radius: 50%;
}

/* Form Styling */
#leave-message form {
  display: flex;
  flex-direction: column;
}

#leave-message label {
  font-weight: bold;
  margin-top: 10px;
}

#leave-message input, #leave-message textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#leave-message button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

#leave-message button:hover {
  background-color: #2980b9;
}

#messages button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#messages button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  nav ul {
    flex-direction: column;
    gap: 15px;
  }
}
